
html {
    box-sizing: border-box;
   
}


*,
*::after,
*::before {
    box-sizing: inherit;
}


@media (max-width: 725px) {
    main{
        display: block;
      
    }
    
}
